.root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --second-text-color: #ffffff;
  --accent-color: #2196f3;
}
.body {
  color: var(--main-text-color);
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
}
.link {
  text-decoration: none;
  color: inherit;
}
/*Header*/
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header-logo-studio {
  color: #000000;
}
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.site-nav > :hover,
.site-nav > :focus,
.site-nav > :active {
  color: #2196f3;
}
.contactto-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.contactto-list:hover,
.contactto-list:focus {
  color: #2196f3;
}
/*Hero*/
.hero {
  background-color: #2f303a;
}

.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero > button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  vertical-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: var(--second-text-color);
}

/*Particularities*/

.particularities-tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.particularities-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;

/* About */
/* Team */
/*Footer*/ ;
